# FAILURE

In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile
#import statsmodels.api as  sm
#import statsmodels.stats.weightstats as stat
#from statsmodels.formula.api import ols
import scipy as sp
from scipy import stats as stat

In [3]:
dataEc = pd.read_excel('DataEchec.xlsx' , sep = '\t')
dataEc.shape

(11, 12)

In [4]:
dataEc

,ZS,EC7,EC8,EC9,EC10,EC11,EC12,EC13,EC14,EC15,EC16,EC17
0,BANDUNDU,61,48,47,45,40,24,40,29,36,21,12
1,KONGO CENTRAL,55,33,50,28,23,39,34,35,37,30,17
2,EQUATEUR,68,45,53,47,39,52,32,28,33,22,19
3,KASAI OCCIDENTAL,81,50,53,34,21,23,18,15,10,5,3
4,KASAI ORIENTAL,115,93,108,81,60,51,54,42,42,41,34
5,KATANGA,195,151,160,135,119,114,149,132,152,145,241
6,KINSHASA,178,164,149,140,117,141,99,78,73,114,75
7,MANIEMA,29,20,14,13,7,10,15,7,9,14,4
8,NORD KIVU,43,45,63,49,35,40,40,49,54,42,56
9,SUD KIVU,55,34,33,23,24,33,28,18,14,21,17
10,PROVINCE ORIENTAL,120,108,116,118,88,70,59,71,57,62,45

Year, average

In this part we will average the cases per year and show the year that has had more cases.

Note: here we do not take into account the provinces

In [7]:
#Declaration and initialization of variables

moyenne=0
annee=0
c=0
tabMoy = []
tabAnn = [] 

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

#Loop allowing to browse the columns and calculate the average for each year.
for i in dataEc.columns:
    if i=='ZS':           #if the column is that of Health zone or province
        moyenne=moyenne
    else:
        b=dataEc[i].mean()
        tabAnn.append(monAnne(i))
        tabMoy.append(b)
        if b>moyenne:
            moyenne=b
            annee=i
    c+=1

#display
print("Year ", monAnne(annee), " the highest average of failure: ",moyenne)

('Year ', '2007', ' the highest average of failure: ', 90.909090909090907)

In [8]:
#joint table of the year and its case average
tab=[tabAnn,tabMoy]

#transformation of this table into dataframe plus transpose
df=pd.DataFrame(tab).T
df.shape

#nomenclature of columns
df=df.rename(columns={0:'Year',1:'Average'})
print(df)

    Year  Average
0   2007  90.9091
1   2008  71.9091
2   2009  76.9091
3   2010  64.8182
4   2011  52.0909
5   2012  54.2727
6   2013  51.6364
7   2014  45.8182
8   2015       47
9   2016       47
10  2017  47.5455

In [9]:
#bar graph of years based on averages
c=df.plot(x=0, y=1, kind='bar')
plt.xlabel('Year')
plt.ylabel('Average')
plt.show()

fig = c.get_figure()
fig.tight_layout()
fig.savefig("plots/PhotoMoyEc.png")

Year, Maximum and Province

This section allows you to see which province has had many cases. 
this for each year.

In [10]:
#Declaration and initialization of variables

maximum=0
annee=0
tabMoy = []
tabAnn = [] 
MaxProv = dict()

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

for i in dataEc.columns:
    if i=='ZS':
        maximum=maximum
    else:
        b=dataEc[i].max()
        #print(b)
        provIndex=list(dataEc[i]).index(b)
        #print(list(dataNc[i]))
        
        province=dataEc.ZS[provIndex]
        #print(provIndex)
        
        MaxProv[monAnne(i)]=[b,province]
        
#display
for key in MaxProv.keys():
    print('Year: ',key, ' Max: ', MaxProv[key][0], ' Province: ' , MaxProv[key][1])
    print(" ")

('Year: ', '2016', ' Max: ', 145, ' Province: ', u'KATANGA')

('Year: ', '2007', ' Max: ', 195, ' Province: ', u'KATANGA')

('Year: ', '2017', ' Max: ', 241, ' Province: ', u'KATANGA')

('Year: ', '2015', ' Max: ', 152, ' Province: ', u'KATANGA')

('Year: ', '2014', ' Max: ', 132, ' Province: ', u'KATANGA')

('Year: ', '2008', ' Max: ', 164, ' Province: ', u'KINSHASA')

('Year: ', '2009', ' Max: ', 160, ' Province: ', u'KATANGA')

('Year: ', '2011', ' Max: ', 119, ' Province: ', u'KATANGA')

('Year: ', '2010', ' Max: ', 140, ' Province: ', u'KINSHASA')

('Year: ', '2013', ' Max: ', 149, ' Province: ', u'KATANGA')

('Year: ', '2012', ' Max: ', 141, ' Province: ', u'KINSHASA')