# RELAPSE

In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile
import scipy as sp
from scipy import stats as stat

In [3]:
dataRc = pd.read_excel('DataRechutte.xlsx' , sep = '\t')
dataRc.shape

(11, 12)

In [4]:
dataRc

,ZS,RC7,RC8,RC9,RC10,RC11,RC12,RC13,RC14,RC15,RC16,RC17
0,BANDUNDU,230,280,213,265,260,247,252,230,239,236,271
1,KONGO CENTRAL,243,205,248,203,175,204,207,248,213,229,268
2,EQUATEUR,288,271,262,231,224,214,189,231,208,231,293
3,KASAI OCCIDENTAL,320,307,351,358,352,363,332,362,300,313,245
4,KASAI ORIENTAL,485,500,567,625,468,545,587,613,708,651,843
5,KATANGA,644,533,751,593,515,507,576,584,624,666,663
6,KINSHASA,1219,1327,1342,1225,1180,1328,1184,1341,1263,1366,1496
7,MANIEMA,101,80,104,94,100,104,103,74,103,96,87
8,NORD KIVU,85,71,100,84,85,98,94,88,104,122,152
9,SUD KIVU,151,127,153,138,127,94,129,140,142,167,156
10,PROVINCE ORIENTAL,240,302,292,322,275,273,328,387,431,483,487

Year, average

In this part we will average the cases per year and show the year that has had more cases of relapse.

Note: provinces are not considered here

In [5]:
#Declaration and initialization of variables

moyenne=0
annee=0
c=0
tabMoy = []
tabAnn = [] 

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

#Loop allowing to browse the columns and calculate the average for each year.
for i in dataRc.columns:
    if i=='ZS':             #if the column is that of Health zone or province
        moyenne=moyenne
    else:
        b=dataRc[i].mean()
        tabAnn.append(monAnne(i))
        tabMoy.append(b)
        if b>moyenne:
            moyenne=b
            annee=i
    c+=1

#display   
print("Year ", monAnne(annee), " had the highest average of relapse individual: ",moyenne)

('Year ', '2017', ' had the highest average of relapse individual: ', 451.0)

In [6]:
#joint table of the year and its case average
tab=[tabAnn,tabMoy]

#transformation of this table into dataframe plus transpose
df=pd.DataFrame(tab).T
df.shape

#nomenclature of columns
df=df.rename(columns={0:'Year',1:'Average'})
print(df)

    Year  Average
0   2007  364.182
1   2008  363.909
2   2009  398.455
3   2010  376.182
4   2011  341.909
5   2012  361.545
6   2013  361.909
7   2014  390.727
8   2015  394.091
9   2016  414.545
10  2017      451

In [7]:
#bar graph of years based on averages
c=df.plot(x=0, y=1, kind='bar')
plt.xlabel('Year')
plt.ylabel('Avarage')
plt.show()

fig = c.get_figure()
fig.tight_layout()
fig.savefig("PhotoMoyRC1.png")

Year, Maximum and Province

In this section we find which province has had many cases for each year.

In [8]:
#Declaration and initialization of variables

maximum=0
annee=0
tabMoy = []
tabAnn = [] 
MaxProv = dict()

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

for i in dataRc.columns:
    if i=='ZS':
        maximum=maximum
    else:
        b=dataRc[i].max()
        #print(b)
        provIndex=list(dataRc[i]).index(b)
        #print(list(dataNc[i]))
        
        province=dataRc.ZS[provIndex]
        #print(provIndex)
        
        MaxProv[monAnne(i)]=[b,province]
        
#display
for key in MaxProv.keys():
    print('Year: ',key, ' Max: ', MaxProv[key][0], ' Province: ' , MaxProv[key][1])
    print(" ")

('Year: ', '2016', ' Max: ', 1366, ' Province: ', u'KINSHASA')

('Year: ', '2007', ' Max: ', 1219, ' Province: ', u'KINSHASA')

('Year: ', '2017', ' Max: ', 1496, ' Province: ', u'KINSHASA')

('Year: ', '2015', ' Max: ', 1263, ' Province: ', u'KINSHASA')

('Year: ', '2014', ' Max: ', 1341, ' Province: ', u'KINSHASA')

('Year: ', '2008', ' Max: ', 1327, ' Province: ', u'KINSHASA')

('Year: ', '2009', ' Max: ', 1342, ' Province: ', u'KINSHASA')

('Year: ', '2011', ' Max: ', 1180, ' Province: ', u'KINSHASA')

('Year: ', '2010', ' Max: ', 1225, ' Province: ', u'KINSHASA')

('Year: ', '2013', ' Max: ', 1184, ' Province: ', u'KINSHASA')

('Year: ', '2012', ' Max: ', 1328, ' Province: ', u'KINSHASA')