# NEW CASE

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile
#import statsmodels.api as  sm
#import statsmodels.stats.weightstats as stat
#from statsmodels.formula.api import ols
import scipy as sp
from scipy import stats as stat

In [2]:
dataNc = pd.read_excel('DataNouveauCas.xlsx' , sep = '\t')
dataNc.shape

(12, 12)

In [3]:
dataNc.head()

,ZS,NC7,NC8,NC9,NC10,NC11,NC12,NC13,NC14,NC15,NC16,NC17
0,BAS CONGO,3304,3225,3327,3231,3135,3183,2944,2848,2892,30,3144
1,BANDUNDU,5969,7056,6258,8314,7860,7631,7867,8921,8882,8993,9754
2,KONGO CENTRAL,3304,3225,3327,3231,3135,3183,2944,2848,2892,3070,3144
3,EQUATEUR,5523,5583,6007,6314,6781,6031,6124,7430,6288,7420,10590
4,KASAI OCCIDENTAL,6008,7011,7815,7960,8470,8565,8087,7259,7506,8030,7825

Year, average

In this part we will average the cases per year and show the year that has had more cases.

Note: here we do not take into account the provinces

In [4]:
#Declaration and initialization of variables

moyenne=0
annee=0
c=0
tabMoy = []
tabAnn = [] 

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

#Loop allowing to browse the columns and calculate the average for each year.
for i in dataNc.columns:
    if i=='ZS':            #if the column is that of Health zone or province
        moyenne=moyenne
    else:
        b=dataNc[i].mean()
        tabAnn.append(monAnne(i))
        tabMoy.append(b)
        if b>moyenne:
            moyenne=b
            annee=i
    c+=1

#display
print("L'année ", monAnne(annee), " présente la moyenne la plus élevée qui est de: ",moyenne)

#print(tabMoy)
#print(tabAnn)

("L'ann\xc3\xa9e ", '2017', ' pr\xc3\xa9sente la moyenne la plus \xc3\xa9lev\xc3\xa9e qui est de: ', 8058.25)

In [5]:
#joint table of the year and its case average
tab=[tabAnn,tabMoy]

#transformation of this table into dataframe plus transpose
df=pd.DataFrame(tab).T
df.shape

(11, 2)

In [6]:
#nomenclature of columns
df=df.rename(columns={0:'Year',1:'Average'})
print(df)

    Year  Average
0   2007  5783.58
1   2008  6065.83
2   2009   6376.5
3   2010     6407
4   2011  6204.67
5   2012  6192.25
6   2013  6205.83
7   2014  6539.92
8   2015  6630.25
9   2016  6868.08
10  2017  8058.25

In [7]:
df.plot(x=0, y=1)

In [ ]:
#bar graph of years based on averages
c=df.plot(x=0, y=1, kind='bar')
plt.xlabel('Year')
plt.ylabel('Average')
plt.show()

fig = c.get_figure()
fig.tight_layout()
fig.savefig("PhotoMoyNC.png" )

Year, Maximum and Province

This section allows you to see which province has had many cases. this for each year.

In [39]:
#Declaration and initialization of variables
maximum=0
annee=0
tabMoy = []
tabAnn = [] 
MaxProv = dict()

#Method to display the years
def monAnne(year):
    an = year[2:len(year)]
    if int(an)<10:
        an="200" + an
        
    else:
        an="20"+an
    return an

for i in dataNc.columns:
    if i=='ZS':
        maximum=maximum
    else:
        b=dataNc[i].max()
        #print(b)
        provIndex=list(dataNc[i]).index(b)
        #print(list(dataNc[i]))
        
        province=dataNc.ZS[provIndex]
        #print(provIndex)
        
        MaxProv[monAnne(i)]=[b,province]
        
#display
for key in MaxProv.keys():
    print('Year: ',key, ' Max: ', MaxProv[key][0], ' Province: ' , MaxProv[key][1])
    print(" ")
    
#print(MaxProv)
#print("La moyenne la plus élevée est de ",moyenne, "de l'année ", monAnne(annee))

Year:  2007  Max:  14124  Province:  KATANGA

Year:  2008  Max:  14786  Province:  KATANGA

Year:  2009  Max:  16915  Province:  KATANGA

Year:  2010  Max:  13089  Province:  KATANGA

Year:  2011  Max:  13021  Province:  KATANGA

Year:  2012  Max:  12256  Province:  KATANGA

Year:  2013  Max:  13875  Province:  KATANGA

Year:  2014  Max:  13904  Province:  KATANGA

Year:  2015  Max:  14242  Province:  KATANGA

Year:  2016  Max:  14690  Province:  KATANGA

Year:  2017  Max:  16539  Province:  KATANGA